---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Recap2025 from '../components/Recap2025.astro';
import About from '../components/About.astro';
import Program from '../components/Program.astro';
import Venue from '../components/Venue.astro';
import People from '../components/People.astro';
import Manifesto from '../components/Manifesto.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Recap2025 />
    <About />
    <Program />
    <Venue />
    <People />
    <Manifesto />
  </main>
  <Footer />
</Layout>
